<%= link_to "View", lens_path(:id => @lens.id) %>

<th-lens-composer pathToComponents="../assets/bower_components/" nodes='<%=@els %>' lensTitle='<%=@lens.name %>' lensAuthor='<%=@lens.author %>' >

</th-lens-composer>

<div id='update_lens' data-lens-id="<%=@lens.id %>">Update Lens</div>
<div id='status'></div>
