<!DOCTYPE html>
<html>
<head>
  <title>Lenses</title>

  <%= include_gon(:init => true) %>
  <%= stylesheet_link_tag "application", media: "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  
  <script src="/assets/bower_components/webcomponentsjs/webcomponents.js"></script>

  <!-- Load components -->
  <link rel="import" href="/assets/bower_components/lenses-freeform/lenses-freeform.html">
  <link rel="import" href="/assets/bower_components/lens-composer/lens-composer.html">
  <link rel="import" href="/assets/bower_components/lens-node/lens-node.html">
  
  <!-- Typekit -->
  <script src="//use.typekit.net/zce3hrn.js"></script>
  <script>try{Typekit.load();}catch(e){}</script>
</head>
<body unresolved>
  <% flash.each do |key, value| %>
    <div class="alert alert-<%= key %>"><%= value %></div>
  <% end %>
  <%= yield %>

</body>
</html>
